<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mument_android.mypage">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="com.mument_android.mypage.MyPageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.mument_android.mypage.NoticeDetailActivity" />
    </application>

</manifest>