<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mument_android.core_dependent">

    <application>
        <activity
            android:name=".base.WebViewActivity"
            android:exported="false" />
    </application>

</manifest>