<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mument_android.login">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.mument_android.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name="com.mument_android.SplashActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileSettingActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
    </application>

</manifest>